In [49]:
import pandas as pd

In [50]:
df = pd.read_csv('all.csv')
df

,AREA,AREA_TITLE,PRIM_STATE,NAICS,OCC_CODE,OCC_TITLE,TOT_EMP,JOBS_1000,H_MEAN,A_MEAN,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90
0,99,U.S.,US,813200,29-1215,Family Medicine Physicians,80.0,NaN,NaN,NaN,110.17,110.17,110.17,NaN,229150.0,229150.0,229150.0,NaN
1,38,North Dakota,ND,0,29-1151,Nurse Anesthetists,150.0,0.375,NaN,NaN,106.04,109.14,112.50,NaN,220570.0,227010.0,234000.0,NaN
2,29,Missouri,MO,0,29-1222,Physicians- Pathologists,NaN,NaN,NaN,NaN,102.27,102.27,102.27,NaN,212710.0,212710.0,212720.0,NaN
3,40140,Riverside-San Bernardino-Ontario- CA,CA,0,23-1023,Judges- Magistrate Judges- and Magistrates,90.0,0.054,NaN,NaN,103.04,103.04,103.04,107.34,214320.0,214320.0,214320.0,223270.0
4,40900,Sacramento--Roseville--Arden-Arcade- CA,CA,0,23-1023,Judges- Magistrate Judges- and Magistrates,110.0,0.105,NaN,NaN,103.04,103.04,106.75,109.76,214320.0,214320.0,222040.0,228300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409401,72,Puerto Rico,PR,0,51-2021,Coil Winders- Tapers- and Finishers,490.0,0.548,8.64,17960,8.50,8.50,8.53,9.32,17680.0,17680.0,17740.0,19380.0
409402,25620,Hattiesburg- MS,MS,0,33-9094,School Bus Monitors,30.0,0.520,8.62,17930,8.51,8.59,8.63,8.87,17700.0,17870.0,17960.0,18440.0
409403,11500,Anniston-Oxford-Jacksonville- AL,AL,0,25-3031,Substitute Teachers- Short-Term,160.0,3.595,8.57,17820,8.42,8.42,8.85,8.85,17520.0,17520.0,18400.0,18400.0
409404,4000002,Northwest Oklahoma nonmetropolitan area,OK,0,33-9092,Lifeguards- Ski Patrol- and Other Recreational...,100.0,1.094,8.47,17620,7.70,8.28,8.88,9.45,16010.0,17220.0,18480.0,19660.0
409405,100001,Northwest Alabama nonmetropolitan area,AL,0,25-3031,Substitute Teachers- Short-Term,300.0,4.527,8.30,17270,8.23,8.23,8.23,8.32,17120.0,17120.0,17120.0,17300.0

In [51]:
Alabama = df[df['PRIM_STATE']=="AL"]

In [52]:
state = input()

NY

In [53]:
state

'NY'

In [56]:
state_df = df[df['PRIM_STATE']=='{}'.format(state)]

In [62]:
state_df=state_df.dropna(subset=['H_MEAN','H_MEDIAN'])

In [63]:
state_df

,AREA,AREA_TITLE,PRIM_STATE,NAICS,OCC_CODE,OCC_TITLE,TOT_EMP,JOBS_1000,H_MEAN,A_MEAN,H_PCT25,H_MEDIAN,H_PCT75,H_PCT90,A_PCT25,A_MEDIAN,A_PCT75,A_PCT90
20945,15380,Buffalo-Cheektowaga-Niagara Falls- NY,NY,0,11-1011,Chief Executives,220.0,0.418,159.07,330860,67.23,108.13,NaN,NaN,139830.0,224910.0,NaN,NaN
20994,36,New York,NY,0,11-1011,Chief Executives,4910.0,0.539,155.95,324370,76.10,110.21,NaN,NaN,158290.0,229230.0,NaN,NaN
21086,3600001,Capital/Northern New York nonmetropolitan area,NY,0,29-1215,Family Medicine Physicians,100.0,0.765,152.74,317700,44.23,78.15,NaN,NaN,92000.0,162550.0,NaN,NaN
21164,35620,New York-Newark-Jersey City- NY-NJ-PA,NY,0,29-1249,Surgeons- All Other,3450.0,0.376,149.60,311180,39.59,107.91,NaN,NaN,82340.0,224450.0,NaN,NaN
21680,35620,New York-Newark-Jersey City- NY-NJ-PA,NY,0,29-1222,Physicians- Pathologists,1010.0,0.110,133.56,277810,67.30,114.50,NaN,NaN,139980.0,238160.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393865,40380,Rochester- NY,NY,0,33-9092,Lifeguards- Ski Patrol- and Other Recreational...,410.0,0.836,13.95,29020,13.20,13.40,13.96,14.88,27460.0,27870.0,29040.0,30940.0
394304,13780,Binghamton- NY,NY,0,33-9094,School Bus Monitors,150.0,1.573,13.90,28910,13.20,13.31,13.83,15.33,27460.0,27690.0,28770.0,31880.0
394730,48060,Watertown-Fort Drum- NY,NY,0,53-7064,Packers and Packagers- Hand,70.0,1.726,13.85,28810,13.20,13.20,13.54,15.58,27460.0,27460.0,28160.0,32400.0
396767,3600004,Southwest New York nonmetropolitan area,NY,0,33-9092,Lifeguards- Ski Patrol- and Other Recreational...,110.0,0.674,13.56,28200,13.20,13.20,13.20,14.18,27460.0,27460.0,27460.0,29500.0
397304,13780,Binghamton- NY,NY,0,33-9092,Lifeguards- Ski Patrol- and Other Recreational...,50.0,0.487,13.48,28040,13.20,13.20,13.20,14.27,27460.0,27460.0,27460.0,29680.0